# Ignore macOS system files
.DS_Store

# Ignore all PDF files
*.pdf

# You can also ignore entire folders
build/

# Ignore .dSYM debug files 
*.dSYM

# Ignore object and executable files
*.o
*.out
*.exe

